In [2]:
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
pd.options.display.max_columns = None

In [3]:
Paises =[]

In [4]:
Poblacion1990 =[]
Poblacion1991 = []
Poblacion1992 = []
Poblacion1993 = []
Poblacion1994 = []
Poblacion1995 = []
Poblacion1996 = []
Poblacion1997 = []
Poblacion1998 = []
Poblacion1999 = []
Poblacion2000 = []
Poblacion2001 = []
Poblacion2002 = []
Poblacion2003 = []
Poblacion2004 = []
Poblacion2005 = []
Poblacion2006 = []
Poblacion2007 = []
Poblacion2008 = []
Poblacion2009 = []
Poblacion2010 = []
Poblacion2011 = []
Poblacion2012 = []
Poblacion2013 = []
Poblacion2014 = []
Poblacion2015 = []
Poblacion2016 = []
Poblacion2017 = []
Poblacion2018 = []
Poblacion2019 = []

In [61]:
respuesta = requests.get("https://datosmacro.expansion.com/demografia/poblacion?anio=2019")
response = bs(respuesta.content, "lxml")
for i in range(1, 587, 3):
        Poblacion2019.append(response.find_all("td", class_ = "numero")[i].get_text())
for i in range(len(response.find_all(name = "td"))):
    try:
        Paises.append(response.find_all(name = "td")[i].a.get_text())
    except:
        continue

In [6]:
# for i in range(len(response.find_all(name = "td"))):
#     try:
#         Paises.append(response.find_all(name = "td")[i].a.get_text())
#     except:
#         continue

In [71]:
PoblacionesLista = [Poblacion1990, Poblacion1991, Poblacion1992, Poblacion1993, Poblacion1994, Poblacion1995, Poblacion1996, Poblacion1997, Poblacion1998, Poblacion1999, Poblacion2000, Poblacion2001, Poblacion2002, Poblacion2003, 
Poblacion2004, Poblacion2005, Poblacion2006, Poblacion2007, Poblacion2008, Poblacion2009, Poblacion2010, Poblacion2011, Poblacion2012, Poblacion2013, Poblacion2014, Poblacion2015, Poblacion2016, 
Poblacion2017, Poblacion2018, Poblacion2019]

In [96]:
Poblaciones = PoblacionesLista[0].copy()

In [97]:
for i in range(1,30):
    Poblaciones.extend(PoblacionesLista[i])

In [113]:
len(Poblaciones)

5880

In [120]:
anio = [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]

In [121]:
anio *= 196

In [122]:
anio.sort()

In [123]:
PoblacionPorPais = pd.DataFrame({"Pais":Paises, "Year":anio, "Poblacion":Poblaciones})

In [125]:
PoblacionPorPais = PoblacionPorPais.sort_values(["Pais", "Year"]).reset_index(drop=True)

In [134]:
PoblacionPorPais.loc[:, "Pais"] = PoblacionPorPais.loc[:,"Pais"].str[:-4]

In [135]:
Poblacion

            Pais  Year   Poblacion
0     Afganistán  1990  12.412.311
1     Afganistán  1991  13.299.016
2     Afganistán  1992  14.485.543
3     Afganistán  1993  15.816.601
4     Afganistán  1994  17.075.728
...          ...   ...         ...
5875    Zimbabue  2015  14.009.000
5876    Zimbabue  2016  14.228.000
5877    Zimbabue  2017  14.437.000
5878    Zimbabue  2018  14.438.812
5879    Zimbabue  2019  14.645.473

[5880 rows x 3 columns]

In [136]:
PoblacionPorPais.to_csv("PoblacionPorPais.csv")